{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["framework/saleor/**/*"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
